<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <VHGE_Name>Vanilla Helixien Gas Expanded</VHGE_Name>

  <VHGE_InfiniteDepositSettings>&lt;b&gt;Infinite deposits settings&lt;/b&gt;</VHGE_InfiniteDepositSettings>
  <VHGE_ScanningSettings>&lt;b&gt;Helixien settings&lt;/b&gt;</VHGE_ScanningSettings>
  <VHGE_GeysersSettings>&lt;b&gt;Helixien gas geysers settings&lt;/b&gt;</VHGE_GeysersSettings>
  <VHGE_EnableDeposits>Enable spawning infinite gas deposit(s):</VHGE_EnableDeposits>
  <VHGE_DepositsAmount>Deposits amount:</VHGE_DepositsAmount>
  <VHGE_DepositsCellCount>Deposits cells count:</VHGE_DepositsCellCount>
  <VHGE_HelixienDeepCommonality>Helixien deep commonality (0 to disable it):</VHGE_HelixienDeepCommonality>
  <VHGE_HelixienDeepCount>Helixien deep count per cell:</VHGE_HelixienDeepCount>
  <VHGE_EnableGeysers>Enable helixien gas geyser(s):</VHGE_EnableGeysers>
  <VHGE_GeysersCount>Helixien gas geyser(s) count:</VHGE_GeysersCount>
</LanguageData>